<form asp-action="Index">
    <input type="text" name="Name" placeholder="Tên">
    <input type="number" name="Age" placeholder="Tuổi">
    <input type="number" name="Score" placeholder="Điểm">
    <input type="Submit">
</form>
@ViewBag.Person